body{
    background-color: darkslategray;
}

.login-welcome-message{
    font-family: Arial;
    color: white;
    padding-top: 0.3rem;
    text-align: center;

}

.email-input{
    background-color: #0E2F2F;
    width: 100%;
    font-family: arial;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 12px 14px;
    box-sizing: border-box;
    transition: box-shadow 15s ease, background .15s ease;
}

.password-input{
    background-color: #0E2F2F;
    width: 100%;
    color: #FFFFFF;
    font-family: arial;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 12px 14px;
    box-sizing: border-box;
    transition: box-shadow 15s ease, background .15s ease;
}

.email-input:focus, .password-input:focus {
    box-shadow: 0 0 0 2px rgba (46, 189,.35);
}

.credentials-input{
    font-family: Arial;
    color: white;
    padding-top: 2rem;
    display: block;
    font-size: 14px;
    margin: 14px 0 6px;
}


.login-container{
    padding: 2rem;
    padding-bottom: 5rem;
    margin: 8rem auto;
    border-radius: 20px;
    max-width: 500px;
    background-color: #124747;
}

.login-submit-button{
    color:white;
    background-color: #04AA6D;
    border-radius: 10px;
    border: none;
    float: right;
    text-decoration: none;
    padding: 8px 200px;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 1rem;
    transition-duration: 0.4s;

}

.loginbt:hover .login-submit-button{
        background-color: #219052;
        border-radius: 5px;
        border-radius: 5px 225px;

}

.forgot-password-link a {
    color: white;
    text-decoration: none;
    margin-left: 385px;
}

.forgot-password-link a:hover{
    color:lightgray;
}

.register-link a {
        color: white;
        text-decoration: none;
        margin-left: 185px;
}

.register-link a:hover{
    color:lightgray;
}

.border_navigation{

    border-color: white;
    border: 100px 200px;
    display: none;
}

bglskjfdb;agkbfg